$primary    : #18A058;
$elements   : #006D36;
$default    : #727971;
$text-color : #1F2225;
$backgroung : #FBFDF7;
$negative   : #ba1b1b;
$warn       : #FFCA28;
$elements-shadow : 0 0px 4px $elements;
$default-shadow: 0 0px 4px $default;